.footer{
  width: 100%;
  margin-top: 50px;
  padding-top: 50px;
  font-size: 14px;
  /* background-color: #0071c2; */
  align-items: center;
  justify-content: center;
  background:linear-gradient(rgba(0, 250, 83, 0.731),transparent);
  background-color:rgb(120, 40, 250) /*this your primary color*/
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;

}

.fList{
  list-style: none;
  margin-right: 40px;
  font-size: 20px;

}

.fListItem{
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
}
.fText{
  color: aliceblue;
  padding: 20px;
  
}

.egg{
    text-decoration: none;
    /* margin: 0 10px 0 10px; */
    padding: 8px 12px;
    border: none;
    margin-top: 30px;
    border-radius: 100px;
    color: rgb(254, 254, 254);
    font-size: 18px;
    background:linear-gradient(rgba(255, 0, 106, 0.731),transparent);
    background-color:rgba(244, 16, 46, 0.793);
}


/* .logo-footer{
  padding-top: 100px;
  font-weight: 500;
} */